# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Generated notes
generated_notes/

# Deprecated code
deprecated_code/
